@inherits Umbraco.Cms.Web.Common.Views.UmbracoViewPage<Umbraco.Cms.Core.Models.Blocks.BlockListItem>;
@using ContentModels = Umbraco.Cms.Web.Common.PublishedModels;
@{
    var content = (ContentModels.SocialIconAndLink)Model.Content;
}
<li>
    <a href="@content?.Link?.Url" target="_blank"> <img src="@content?.Icon?.Url()" alt="@content?.Link?.Name" /></a>
</li>